<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caso 2</title>
</head>

<body>
    <header>
        <h1>Caso 2: hipervinculos y video</h1>
    </header>
    <main>
        <a href="https://www.eafit.edu.co">Visitar la página principal de EAFIT</a>

        <video controls width="600">
            <source src="/videos/Testeo_3.mp4" type="video/mp4">
            Tu navegador no soporta video HTML5.
        </video>
    </main>
</body>

</html>